@charset "UTF-8";

body{
    text-align: center;
}
.calcButton{
    margin-top: 50px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #333;
    line-height: 1.5;
    padding: 10px;
}
.calcButton:hover{
    background-color: #218838;
    transform: translate(2px, 2px);
    box-shadow: 0px 0px;
}
#result{
    margin-top: 50px;
    padding: 20px 30px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}